body {
    max-width: 900px;
    margin: auto;
    background-color: azure;
}

hr {
    margin: 10px;
}

p .aboutme {
    text-align: center;
    color: green;
}

img {
    border-radius: 20px;
    width: 100%;
}

p {
    text-align: center;
}

.linksto {
    text-shadow: inherit;
}

#name {
    width:200px;
}

#email {
    width: 200px;
}

#comment {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
}

.icon-facebook {
    float: right;
    margin: auto;
    width: 50%;
}

footer {
    text-align: center;
    margin-top: 5%;
}