body {
    max-width: 800px;
    margin: auto;
    background-color: azure;
}

hr {
    margin: 10px;
}

p .aboutme {
    text-align: center;
    color: green;
}

img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    border: 3px solid white;
}

img:hover {
    border: 3px solid rgba(140, 146, 138, 0.712);
}

p {
    text-align: center;
}

.content {
    display: inline-flex;
    box-sizing: border-box;
    background-color: rgb(232, 241, 222);
}

.cad {
    width: 50%;
    height: auto;
    margin: 10px;
}

.cad img {
    margin-top: 20px;
}

.robot {
    width: 50%;
    height: auto;
    margin: 10px;
}

.robot img {
    margin-top: 5px;
}

.linksto {
    text-shadow: inherit;
}

#name {
    width:200px;
}

#email {
    width: 200px;
}

#comment {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-left: 100px;
    margin-right: auto;
    margin-top: 50px;
}

.icon-facebook {
    float: right;
    margin: auto;
    width: 50%;
}

footer {
    text-align: center;
    margin-top: 5%;
}