body {
    max-width: 800px;
    margin: auto;
}

h2 {
    color:blue;
    text-align: center;
}

img {
    border-radius: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
}

hr {
    margin: 10px;
}